/* =========================
   INDEX PAGE LAYOUT
========================= */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  margin: 20px auto;
}

/* =========================
   MAIN 2-COLUMN LAYOUT
========================= */
.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: center;
}

/* =========================
   LEFT COLUMN (AVATAR)
========================= */
.left-column {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 350px;
  height: auto;
}

.title {
  font-size: 2.5rem;
  font-family: "Gabriela", serif;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0px;
}

/* =========================
   RIGHT COLUMN
========================= */
.right-column {
  font-family: "Gabriela", serif;
  font-style: normal;
  display: grid;
  grid-template-rows: auto auto;
  gap: 30px;
}

/* =========================
   SPEECH BUBBLE
========================= */
.speech-bubble {
  position: relative;
  background: #f9a7db85;
  padding: 20px 25px;
  border-radius: 16px;
  max-width: 420px;
  text-align: left;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 120px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid #f9a7db85;
}

/* =========================
   QUIZ LIST
========================= */
#quiz-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

#quiz-list button {
  font-family: "Gabriela";
  font-style: normal;
  width: 230px;
  height: 100px;
  border-radius: 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  font-size: 16px;
}

#quiz-list button:hover {
  background: #bfd8f9;
  border: 2px solid #77a5c9;
}

/* =========================
   INDEX RESPONSIVE
========================= */
@media (max-width: 1000px) {
  .layout {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .avatar {
    width: 180px;
    padding: 0%;
  }

  .speech-bubble {
    max-width: 100%;
    font-size: 14px;
    padding : 5px 14px;
  }

  .speech-bubble::before {
    display: none;
  }

  #quiz-list {
    justify-content: center;
    padding: auto;
    margin: auto;
  }

  #quiz-list button {
    width: 150px;
    height: 80px;
    font-size: 14px;
  }
  
  #quiz-header {
    font-size: 14px;
    margin: 5%;
  }

  #footer {
    font-size: 14px;
    margin: 10px;
  }
}
